<% if @histories.exists? %>
<table class="table table-bordered table-hover table-striped">
  </thread>
  <tbody>
  <% @histories.each do |hist| %>
  <tr>
    <td class="span7" >
      <a href="<%= url_for :action => :redirect , :url => hist[:url] , :url_id => hist[:url_id] %>" target="_blank">
	<% if hist[:title] && hist[:title].size > 0 %>
          <%= hist[:title] %>
	<% else %>
          <%= hist[:url] %>
	<% end %>
      </a>
    </td>
    <td class="span2 btn btn-error">
      <div align="center">
	<%= link_to "削除" , :controller => "check_update" , :action => "delete" , :id => hist[:id] , :confirm => "削除しますか？"  %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>


